@import "./variables";

@font-face {
    font-family: Asap;
    src: url("/fonts/Asap.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--primary-foreground);
}

.sxn {
    padding-top: var(--header-height);
    height: 100dvh;
}

html,
body {
    max-width: 100dvw;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: background-color 0.3s;
}

body {
    color: var(--primary-foreground);
    background: var(--background);
    font-family: Asap;
}

#main-header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
    background-color: inherit;
    border-bottom: solid 2px var(--primary-foreground);

    a {
        text-decoration: none;
    }

    #container {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: auto;

        #navbar {
            display: flex;
            gap: 10px;
        }
    }

    #switchers {
        display: flex;
        gap: 10px;

        * {
            border: none;
            background-color: transparent;
            font-size: 20px;
        }
    }
}
