@font-face {
    font-family: Asap;
    src: url("/fonts/Asap.ttf");
}

:root {
    --background: #f2f2f2;
    --foreground: #252525;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #252525;
        --foreground: #f2f2f2;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Asap;
    padding: 20px;
    display: grid;
    row-gap: 20px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@media screen and (max-width: 744px) {
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
}
