@font-face {
    font-family: Asap;
    src: url("/fonts/Asap.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* transition: background-color 0.2s; */
}

:root {
    --background: #f2f2f2;
    --foreground: #252525;
    --footer: #e7e7e7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #252525;
        --foreground: #f2f2f2;
        --footer: #1a1a1a;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Asap;
}

a {
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
}

header {
    text-decoration: none;
}

header #switchers {
    display: flex;
    gap: 10px;
}

header #switchers select {
    border: none;
    font-family: Asap;
    background: none;
    cursor: pointer;
    font-size: 16px;
    padding: 4px;
    color: var(--foreground);
}

header #switchers #theme-switcher {
    border: none;

    cursor: pointer;

    background: none;
}

footer {
    background-color: var(--footer);
}

footer #contact {
    display: flex;
    justify-content: center;
    margin: auto;
    width: fit-content;
    flex-direction: column;
    align-items: center;
}

footer #contact h3 {
    margin: 10px;
}

footer #contact #socials {
    margin: auto;
    display: flex;
    width: fit-content;
    gap: 20px;
}

footer #copyrights {
    width: fit-content;
    margin: auto;
    padding: 10px;
}

@media screen and (min-width: 744px) {
}

@media screen and (max-width: 744px) {
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
}
