@font-face {
    font-family: Asap;
    src: url("/fonts/Asap.ttf");
}

:root {
    --background: #f2f2f2;
    --foreground: #252525;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #252525;
        --foreground: #f2f2f2;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Asap;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
}

header nav {
    display: none;
}

@media screen and (min-width: 744px) {
    header nav {
        display: flex;
    }
}

header select {
    border: none;
    font-family: Asap;
    background: none;
    cursor: pointer;
    font-size: 16px;
    padding: 4px;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

@media screen and (max-width: 744px) {
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
}
