.sxn {
    margin: 20px;
}

#face-card {
    display: flex;
    justify-content: space-evenly;

    #job {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 28px;
    }
}

header {
    padding: 10px 10px;
}

.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    h2 {
        font-size: 20px;
    }
}

#skills {
    ul {
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
    }
}
