@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f2f2f2;
    --foreground: #252525;
    --header-height: 60px;
}

[data-theme="dark"]:root {
    --background: #252525;
    --foreground: #f2f2f2;
}
