@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f2f2f2;
    --foreground: #252525;
}

[data-theme="dark"]:root {
    --background: #252525;
    --foreground: #f2f2f2;
}

html {
    scroll-behavior: smooth;
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.3s;
}
