.sxn :local {
    // padding-top: var(--header-height);
    height: 100dvh;
}

.home :global {
    @extend .sxn;

    display: flex;
    padding-top: 0;
    align-items: center;
    justify-content: space-evenly;

    #face-txt {
        width: 500px;

        h1 {
            font-size: 3rem;
            font-weight: 600;
        }

        p {
            margin-top: 6px;
            font-size: 1.5rem;
        }
    }

    #picture {
        img {
            --size: 400px;
            width: var(--size);
            height: var(--size);

            border-radius: 50%;
        }

        h1 {
            padding: 10px;
            font-size: 2.5rem;
            width: fit-content;
            margin: auto;
        }
    }
}

.skills :global {
    @extend .sxn;
}

.projects :global {
    @extend .sxn;
}
